@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
}

a, a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

#app {
    margin: 0 auto;
    padding: 2rem;
  
    font-weight: normal;
  }
  
  header {
    line-height: 1.5;
  }
  
  .logo {
    display: block;
  }
  
  a,
  .green {
    text-decoration: none;
    color: rgb(255, 47, 217);
    transition: 0.4s;
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .search-results {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }

  .panel {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: stretch;
      gap: 1rem;
  }
  
  @media (hover: hover) {
    a:hover {
      background-color: hsla(302, 94%, 65%, 0.2);
    }
  }
  
  @media (min-width: 1024px) {
    body {
      place-items: center;
    }
  
    header {
      display: flex;
      place-items: center;
    }
  
    header .wrapper {
      display: flex;
      place-items: flex-start;
      flex-wrap: wrap;
    }

    .search-results {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .main {
      max-width: 1024px;
      margin: 0 auto;
      grid-template-columns: 3fr 1fr;
    }
  }


input[name="search-box"]{
    display: block;
    margin: 2rem auto;
    max-width: 500px;
    width: 95%;
    padding: 0.5rem 1rem;
    border-color: rgb(253, 50, 206);
}

input[name="search-box"]:focus-visible {
  border-color: rgb(253, 50, 206);
}
.search-item {
    margin: 10px auto;
    max-width: 500px;
    border: 1px solid var(--vt-c-text-dark-2);
    width: 95%;
    font-weight: 600;
}
.error {
  font-size: 0.75em;
  width: 95%;
  color: var(--vt-c-stress);
}

.card-wrapper {
  perspective: 1000px;
  text-decoration: none;
  border-radius: 10px;
  background-color: var(--vt-c-white);
  color: var(--vt-c-indigo);
  transition: 0.4s;
  cursor: pointer;
  display: block;
  width: 100%;
  height: 20vh;
  text-align: center;
  position: relative;
  box-shadow: 2px 8px 7px 0px rgba(209,209,209,0.75);;
}

.card-flipper.isFlipped {
  transform: rotateY(180deg);
  color: var(--vt-c-text-light-1);
  background-color: var(--vt-c-white-soft)
}

.card-flipper {
  position: relative;
  transition: 0.3s;
  transform-style: preserve-3d;
  height: 100%;
}

.card {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.card-front,
.card-back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card-front {
  z-index: 1;
  transform: rotateY(0deg);
  font-size: 2rem;
  padding-top: 1em;
  text-transform: uppercase;
}

.card-back {
  transform:rotateY(180deg);
  font-size: 1rem;
  padding: 30px 15px 0 15px;
}

.button {
  transition: background-color 0.3s ease;
  border: 0;
  border-radius: 0.5rem;
  color: var(--vt-c-text-dark-1);
  background-color: var(--vt-c-indigo-soft);
  height: 14vh;
  cursor: pointer;
  padding: 5px;
}

.add,
.remove {
  border: 0;
  position: absolute;
  right: 0;
}

.add {
  transition: background-color 0.3s ease;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--vt-c-indigo-soft);
  color: white;
  font-weight: 800;
}

.add:hover {
  background-color: var(--vt-c-indigo-highlights);
}

.remove {
  border-radius: 20px;
  height: 20px;
  width: 20px;
  padding: 0;
  line-height: 1;
  color: var(--vt-c-white);
  background-color: var(--vt-c-stress);;
  font-weight: 800;
}

.newPlayer {
  width: calc(100% - 45px);
  border: 1px solid var(--vt-c-indigo-soft);
  padding: 5px;
  margin-bottom: 25px;
  border-radius: 5px;
}

.player-cards {
  border: 3px dashed var(--vt-c-indigo-soft);
  border-radius: 10px;
  height: 100px;
}

.player-item {
  padding-bottom: 30px;
}

.player-item:nth-child(odd) {
  background-color: var(--vt-c-background-list-soft);
}

.player-item:not(:first-child) {
  padding-top: 20px;
  border-top: 1px solid var(--vt-c-indigo-soft);
}

.button:hover {
  background-color: var(--vt-c-indigo-highlights);
}

.button:active {
  padding: 3px;
}

.main {
  display: grid;
  justify-items: stretch;
  gap: 25px;
}
